page-home {
    #map_container{
        width: 100%;
        height: 30%;
    }
    #chart{
        position: absolute;
        width: 100%;
        height: 40%;
    }
    .hidden{
        display: none;
    }    
}
